{# templates/user/notifications.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
<h1>Hello, {{ user_first_name }}!</h1>
<p>Всего записей в представлении: {{ size }}, полей: {{ columns|length }} 
    [{% if is_table %} table {% else %} view {% endif %}]
</p>
<div class="info">
    <span>{{ view }}</span>
</div>

<div class="version">
    <span>VERSION: {{ version }}<span>
</div>

<div class="data" id="main">
  <div class="sizable-container">
    <table class="view {{ class }}" id="mainview">
    <thead>
    {%for column in columns %}
        <th>{{ column }}</th>
    {% endfor %}
    </thead>
    <tbody>
    {%for row in data %}
        <tr>
        {%for value in row %}
            <td>{{ value }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
</div>
{% endblock  %}